/*css*/

/*header css*/

h1 {

	background-color: #4aaaa5;
	color: white;
	width: 225px;
	height: 60px;
	padding: 10px;
	
}

/*navbar css*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
}

li {
    float: left;

}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid lightgray;
}

li a:hover {
    text-decoration: underline;
    background-color: #4aaaa5;
    color: white;

}

/*Mainbody css*/

#wrapper {
	background-image: url("assets/images/bgimg.jpg")
}

